* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item .fruit {
    position: absolute;
    width: 90%;
    top: 0;
    z-index: 3;
}

.item .refri {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    z-index: 2;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee9;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

#prev:hover, #next:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}

.item.active img.fruit {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;
    
}